/* line 1, scss/style.scss */
body {
  background-image: url("images/bg.png");
  margin: 0;
  padding: 0;
  font-family: 'gesseleregular';
  font-weight: bold;
}

/* line 8, scss/style.scss */
body, #wrapper {
  margin: 0;
  padding: 0;
}

/* line 12, scss/style.scss */
header {
  padding: 20px 0;
  height: 100px;
  background-color: #dd6781;
}

/* line 17, scss/style.scss */
#footer {
  background-color: #dd6781;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 1.5%;
}

/* line 24, scss/style.scss */
.container {
  width: 70%;
  margin: 0 auto;
}

/* line 29, scss/style.scss */
.fl {
  float: left;
}

/* line 32, scss/style.scss */
.fr {
  float: right;
}

/* line 35, scss/style.scss */
.db {
  display: inline-block;
}

/* line 38, scss/style.scss */
ul {
  list-style: none;
}

/* line 41, scss/style.scss */
#copyright {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
  float: left;
}

/* line 47, scss/style.scss */
#footerlogo {
  width: 50px;
  float: left;
  margin-top: 8px;
  margin-right: 1%;
  margin-left: 10%;
}

/* line 55, scss/style.scss */
#icons {
  margin-left: 80%;
}

/* line 59, scss/style.scss */
#facebook {
  background-image: url("images/Facebook.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 66, scss/style.scss */
#facebook:hover {
  background-image: url("images/Facebook_hover1.png");
}

/* line 70, scss/style.scss */
#twitter {
  background-image: url("images/Twitter.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 77, scss/style.scss */
#twitter:hover {
  background-image: url("images/Twitter_hover1.png");
}

/* line 81, scss/style.scss */
#flickr {
  background-image: url("images/Flickr.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 88, scss/style.scss */
#flickr:hover {
  background-image: url("images/Flickr_hover.png");
}

/* line 92, scss/style.scss */
#youtube {
  background-image: url("images/Youtube.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 99, scss/style.scss */
#youtube:hover {
  background-image: url("images/Youtube_hover1.png");
}

/* line 103, scss/style.scss */
a.icon {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* line 109, scss/style.scss */
.icons div {
  background-position: 0;
}

/* line 113, scss/style.scss */
.icons div:hover {
  background-position: 0;
}
