@import url("normalize.css");
@font-face {
  font-family: 'gesseleregular';
  src: url("fonts/gessele-webfont.eot");
  src: url("fonts/gessele-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gessele-webfont.woff") format("woff"), url("fonts/gessele-webfont.ttf") format("truetype"), url("fonts/gessele-webfont.svg#gesseleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url("fonts/Oswald-Light.eot");
  src: url(".fonts/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Light.woff") format("woff"), url("fonts/Oswald-Light.ttf") format("truetype"), url("fonts/Oswald-Light.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 23, scss/style.scss */
body {
  background-image: url("images/bg.png");
  margin: 0;
  padding: 0;
  font-family: 'gesseleregular';
  font-weight: bold;
}

/* line 30, scss/style.scss */
body#brands {
  background-image: url("http://www.nicdarkthemes.com/themes/sweet-cake/wp/demo/img/patterns/grey-bg.png");
}

/* line 33, scss/style.scss */
#brands #container {
  font-family: 'oswaldlight';
}

/* line 36, scss/style.scss */
#header {
  padding: 15px 0;
  height: 130px;
  background-color: #dd6781;
}

/* line 41, scss/style.scss */
#footer {
  background-color: #dd6781;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 1.5%;
  padding-bottom: 0px;
}

/* line 50, scss/style.scss */
.clear {
  clear: both;
}

/* line 53, scss/style.scss */
.menu {
  list-style: none;
  float: right;
  margin-top: 95px;
  padding-right: 27%;
}

/* line 59, scss/style.scss */
#menu {
  width: 35%;
}

/* line 62, scss/style.scss */
.menu li {
  display: inline-block;
  font-size: 40px;
  padding: 5px 30px;
}

/* line 67, scss/style.scss */
.menu a:link {
  color: #47150b;
  text-decoration: none;
}

/* line 68, scss/style.scss */
.menu a:visited {
  color: #47150b;
  text-decoration: none;
}

/* line 69, scss/style.scss */
.menu a:hover {
  color: #842311;
  text-decoration: none;
}

/* line 70, scss/style.scss */
.menu a:active {
  color: #B05A4B;
  text-decoration: none;
}

/* line 71, scss/style.scss */
.container {
  width: 70%;
  margin: 0 auto;
}

/* line 76, scss/style.scss */
.fl {
  float: left;
}

/* line 79, scss/style.scss */
.fr {
  float: right;
}

/* line 82, scss/style.scss */
.db {
  display: inline-block;
}

/* line 85, scss/style.scss */
ul {
  list-style: none;
}

/* line 88, scss/style.scss */
#copyright {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
  float: left;
}

/* line 94, scss/style.scss */
#footerlogo {
  width: 50px;
  float: left;
  margin-top: 8px;
  margin-right: 1%;
  margin-left: 10%;
}

/* line 102, scss/style.scss */
#icons {
  margin-left: 80%;
}

/* line 106, scss/style.scss */
#facebook {
  background-image: url("images/Facebook.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 113, scss/style.scss */
#facebook:hover {
  background-image: url("images/Facebook_hover1.png");
}

/* line 117, scss/style.scss */
#twitter {
  background-image: url("images/Twitter.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 124, scss/style.scss */
#twitter:hover {
  background-image: url("images/Twitter_hover1.png");
}

/* line 128, scss/style.scss */
#flickr {
  background-image: url("images/Flickr.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 135, scss/style.scss */
#flickr:hover {
  background-image: url("images/Flickr_hover.png");
}

/* line 139, scss/style.scss */
#youtube {
  background-image: url("images/Youtube.png");
  height: 32px;
  width: 32px;
  float: left;
}

/* line 146, scss/style.scss */
#youtube:hover {
  background-image: url("images/Youtube_hover1.png");
}

/* line 150, scss/style.scss */
a.icon {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* line 156, scss/style.scss */
.icons div {
  background-position: 0;
}

/* line 160, scss/style.scss */
.icons div:hover {
  background-position: 0;
}

/* line 163, scss/style.scss */
.ia-container {
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(255, 255, 255, 0.6);
}

/* line 171, scss/style.scss */
.ia-container figure {
  position: absolute;
  top: 0;
  left: 100px;
  /* width of visible piece */
  width: 940px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 184, scss/style.scss */
.ia-container > figure {
  position: relative;
  left: 0 !important;
}

/* line 189, scss/style.scss */
.ia-container img {
  display: block;
  width: 100%;
}

/* line 194, scss/style.scss */
.ia-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  /* just cover visible part */
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 211, scss/style.scss */
.ia-container input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}

/* line 216, scss/style.scss */
.ia-container input:checked ~ figure {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 940px;
}

/* line 225, scss/style.scss */
.ia-container figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 238, scss/style.scss */
.ia-container figcaption span {
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  text-align: center;
  background: rgba(87, 73, 81, 0.3);
  line-height: 20px;
  font-size: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 261, scss/style.scss */
.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}

/* line 265, scss/style.scss */
.ia-container input:checked + figcaption span {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;
  top: 50%;
}

/* line 279, scss/style.scss */
.ia-container #ia-selector-last:checked + figcaption span {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 287, scss/style.scss */
.ia-container input:hover + figcaption {
  background: rgba(87, 73, 81, 0.03);
}

/* line 291, scss/style.scss */
.ia-container input:checked ~ figure input {
  z-index: 1;
}

@media screen and (max-width: 720px) {
  /* line 296, scss/style.scss */
  .ia-container {
    width: 540px;
  }

  /* line 300, scss/style.scss */
  .ia-container figure {
    left: 40px;
    width: 260px;
  }

  /* line 305, scss/style.scss */
  .ia-container input {
    width: 40px;
  }

  /* line 309, scss/style.scss */
  .ia-container input:checked ~ figure {
    left: 260px;
  }

  /* line 313, scss/style.scss */
  .ia-container figcaption span {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  /* line 319, scss/style.scss */
  .ia-container {
    width: 320px;
  }

  /* line 323, scss/style.scss */
  .ia-container figure {
    left: 20px;
    width: 180px;
  }

  /* line 328, scss/style.scss */
  .ia-container input {
    width: 20px;
  }

  /* line 332, scss/style.scss */
  .ia-container input:checked ~ figure {
    left: 180px;
  }

  /* line 336, scss/style.scss */
  .ia-container figcaption span {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: -20px;
  }
}
/* General Demo Style */
/* line 347, scss/style.scss */
a {
  color: #555;
  text-decoration: none;
}

/* line 351, scss/style.scss */
.container {
  width: 100%;
  position: relative;
}

/* line 355, scss/style.scss */
.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}

/* line 361, scss/style.scss */
.container > header {
  margin: 10px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* line 369, scss/style.scss */
.container > header h1 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #916e82;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

/* line 378, scss/style.scss */
.container > header h1 span {
  font-weight: 700;
}

/* line 381, scss/style.scss */
.container > header h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 15px 0 5px 0;
  color: #4d525d;
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

/* Header Style */
/* line 392, scss/style.scss */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

/* line 403, scss/style.scss */
.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}

/* line 409, scss/style.scss */
.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* line 412, scss/style.scss */
.codrops-top span.right {
  float: right;
}

/* line 415, scss/style.scss */
.codrops-top span.right a {
  float: left;
  display: block;
}

/* line 419, scss/style.scss */
.support-note span {
  color: #ac375d;
  font-size: 16px;
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

/* line 430, scss/style.scss */
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
  display: block;
}

/* line 433, scss/style.scss */
figure {
  margin: 0;
}

/* line 436, scss/style.scss */
.logo {
  margin-left: 12%;
}

/* line 439, scss/style.scss */
#brands #container {
  background: white url("http://www.nicdarkthemes.com/themes/sweet-cake/wp/demo/img/patterns/grey-bg.png");
}

/* line 442, scss/style.scss */
.brands-text {
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

/* line 446, scss/style.scss */
.brands-text h1 {
  color: #FFF;
  margin: 50px 20px;
  text-align: center;
  color: #dd6781;
  font-size: 50px;
  padding: 0px;
  font-family: 'lobster_1.3regular';
  font-weight: normal;
}

/* line 456, scss/style.scss */
.logoprice {
  position: absolute;
  width: 280px;
  text-align: center;
  height: 176px;
  float: left;
  margin-top: 20px;
}

/* line 464, scss/style.scss */
.logoprice img {
  height: 176px;
  width: 176px;
  -webkit-border-radius: 50%;
  /* Firefox 1-3.6 */
  -moz-border-radius: 50%;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%;
}

/* line 475, scss/style.scss */
.rotate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 482, scss/style.scss */
.rotate:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 489, scss/style.scss */
.grid_3 {
  width: 280px;
  margin: 10px;
  float: left;
  display: inline;
}

/* line 495, scss/style.scss */
.expand:hover {
  -webkit-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* line 500, scss/style.scss */
.price {
  width: 270px;
  float: left;
  background-image: url(../img/section-prices/bg.png);
  background-repeat: repeat;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  margin-top: 108px;
}

/* line 510, scss/style.scss */
.price p {
  margin: 176px 20px 10px;
  color: #b4b2b2;
  text-align: center;
}

/* line 515, scss/style.scss */
.price ul {
  margin: 0px 20px 10px 20px;
  padding: 0px;
  list-style: none;
  float: left;
}

/* line 521, scss/style.scss */
.price ul li p {
  padding: 5px 0px 5px 20px;
  margin: 0px;
  text-align: left;
  width: 210px;
  border-bottom: 1px solid #d4d7d3;
  color: #908f8f;
  background-image: url(../img/section-prices/star.png);
  background-repeat: no-repeat;
  background-position: 0px 12px;
}

/* line 532, scss/style.scss */
.triangle {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  height: 50px;
  background-image: url("http://www.nicdarkthemes.com/themes/sweet-cake/wp/demo/img/section-prices/triangle.png");
}

/* line 539, scss/style.scss */
.contactContent h1 {
  font-family: 'Questrial', Verdana, sans-serif;
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  color: #8C8C8C;
}

/* line 548, scss/style.scss */
.contactContent h1:after {
  font-size: 25px;
  color: #D6CFCB;
  content: '&';
  text-align: center;
  display: block;
  width: 100%;
  font-family: 'Alice', Verdana, serif;
  text-shadow: 0px 1px 0px #fff;
}

/* line 558, scss/style.scss */
.contactContent h1:before {
  position: absolute;
  bottom: 15px;
  content: ' ';
  text-align: center;
  display: block;
  height: 2px;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(182, 180, 180, 0.7)), color-stop(43%, rgba(180, 178, 178, 0)), color-stop(50%, rgba(168, 166, 166, 0)), color-stop(57%, rgba(180, 178, 178, 0)), color-stop(58%, rgba(182, 180, 180, 0.7)), color-stop(90%, rgba(238, 237, 237, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 580, scss/style.scss */
.contactContent {
  position: relative;
  margin: 50px auto;
  width: 950px;
  min-height: 650px;
  z-index: 100;
  padding: 30px;
  border: 1px solid #383838;
  /* My stipped background */
  background: #D1D1D1;
  /* Old browsers */
  background: -moz-repeating-linear-gradient(-45deg, #dd6781, #dd6781 30px, #f2f2f2 30px, #f2f2f2 40px, #47150b 40px, #47150b 70px, #f2f2f2 70px, #f2f2f2 80px);
  /* FF3.6+ */
  background: -webkit-repeating-linear-gradient(-45deg, #dd6781, #dd6781 30px, #f2f2f2 30px, #f2f2f2 40px, #47150b 40px, #47150b 70px, #f2f2f2 70px, #f2f2f2 80px);
  /* FF3.6+ */
  background: -o-repeating-linear-gradient(-45deg, #dd6781, #dd6781 30px, #f2f2f2 30px, #f2f2f2 40px, #47150b 40px, #47150b 70px, #f2f2f2 70px, #f2f2f2 80px);
  /* FF3.6+ */
  background: repeating-linear-gradient(-45deg, #dd6781, #dd6781 30px, #f2f2f2 30px, #f2f2f2 40px, #47150b 40px, #47150b 70px, #f2f2f2 70px, #f2f2f2 80px);
  /* FF3.6+ */
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 6px #3F3F3F;
  -moz-box-shadow: 0px 1px 6px #3F3F3F;
  box-shadow: 0px 1px 6px #3F3F3F;
}

/* line 608, scss/style.scss */
.contactContent:after {
  background: #F9F9F9;
  margin: 10px;
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border: 1px #E5E5E5 solid;
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 624, scss/style.scss */
.contactContent input, .textarea {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 630, scss/style.scss */
.contactContent input:not([type="submit"]), textarea {
  outline: none;
  display: block;
  width: 87%;
  padding: 4px 8px;
  border: 1px dashed #DBDBDB;
  color: #3F3F3F;
  font-family: 'Droid Sans', Tahoma, Arial, Verdana sans-serif;
  font-size: 14px;
  /*border-radius*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*transition*/
  -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
  -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
  -o-transition: background 0.2s linear, box-shadow 0.6s linear;
  transition: background 0.2s linear, box-shadow 0.6s linear;
}

/* line 649, scss/style.scss */
.contactContent input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
  background: #F7F7F7;
  border: dashed 1px #969696;
  /*box-shadow*/
  -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
  -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
  box-shadow: 2px 2px 7px #E8E8E8 inset;
}

/* line 657, scss/style.scss */
.contactContent input:not([type="submit"]) {
  height: 20px;
}

/* placeholder */
/* line 661, scss/style.scss */
::-webkit-input-placeholder {
  color: #BABABA;
  font-style: italic;
}

/* line 665, scss/style.scss */
.contactContent input:-moz-placeholder, textarea:-moz-placeholder {
  color: #BABABA;
  font-style: italic;
}

/* line 669, scss/style.scss */
.contactContent textarea {
  min-height: 150px;
  resize: vertical;
}

/* line 673, scss/style.scss */
.contactContent p {
  display: inline-block;
}

/* line 676, scss/style.scss */
.contactContent .entry-content {
  width: 475px;
  border-right-width: 2px;
  border-left: 0;
  border-right-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(rgba(0, 0, 0, 0))) 1 100%;
  float: left;
}

/* line 685, scss/style.scss */
.contactContent input[type=submit] {
  margin-left: 300px;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Alice', serif;
  color: #767676;
  font-size: 18px;
  padding: 10px 4px;
  border: 1px solid #E0E0E0;
  text-shadow: 0px 1px 1px #E8E8E8;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f7f7f7), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  /*transition*/
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 718, scss/style.scss */
.contactContent input[type=submit]:hover {
  color: #686868;
  outline: none;
  border-color: #CECECE;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

/* line 734, scss/style.scss */
.contactContent input[type=submit]:active, input[type=submit]:focus {
  position: relative;
  outline: none;
  top: 1px;
  color: #515151;
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

/* line 751, scss/style.scss */
.contactContent p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  color: #7F7E7E;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
  width: 100%;
}

/* line 760, scss/style.scss */
.contactContent p:hover {
  color: #191919;
}

/* line 763, scss/style.scss */
.contactContent p:before {
  color: #C1BFBD;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

/* line 769, scss/style.scss */
.contactContent p:hover:before {
  color: #969696;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

/* line 775, scss/style.scss */
.contactImages {
  float: left;
  width: 410px;
  padding-left: 30px;
  font-family: 'Droid Sans', Tahoma, Arial, Verdana sans-serif;
}

/* line 781, scss/style.scss */
.contactImages a {
  text-decoration: none;
}

/* line 784, scss/style.scss */
.contactImages * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 789, scss/style.scss */
.contactImages img {
  border: 1px solid #d2d2d2;
  padding: 3px;
  box-shadow: 0 0 5px #333;
}

/* line 796, scss/style.scss */
.contactImages .pic-container {
  max-width: 120px;
  max-height: 120px;
  height: 100px;
  margin: 15px;
  display: inline-block;
}

/* line 803, scss/style.scss */
.contactImages .pic {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 135px;
  height: 135px;
}

/* line 815, scss/style.scss */
.contactImages .pix:nth:child(1) {
  z-index: 3;
}

/* line 818, scss/style.scss */
.contactImages .pic:nth-child(2) {
  z-index: 1;
}

/* line 821, scss/style.scss */
.contactImages .pic:nth-child(3) {
  z-index: 2;
}

/* line 825, scss/style.scss */
.contactImages .pic-container:hover .pic:nth-child(1) {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 833, scss/style.scss */
.contactImages .pic-container:hover .pic:nth-child(2) {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  -webkit-transition: all 0.10s ease;
  transition: all 0.10s ease;
}

/* line 841, scss/style.scss */
.contactImages .pic-container:hover .pic:nth-child(3) {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 845, scss/style.scss */
.contactImages .pic-caption {
  background: #dd6781;
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  position: relative;
  z-index: 10;
  top: 50px;
  left: 200px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-opacity: 0;
  opacity: 0;
}

/* line 865, scss/style.scss */
.contactImages .pic-caption:hover {
  background: #dd6781;
}

/* line 868, scss/style.scss */
.contactImages .pic-container:hover .pic-caption {
  left: 175px;
  -webkit-opacity: 1;
  opacity: 1;
}

/* line 874, scss/style.scss */
.pic-container2 {
  float: right;
}

/* line 877, scss/style.scss */
.contactImages .pic-caption2 {
  left: -200px;
}

/* line 880, scss/style.scss */
.contactImages .pic-container:hover .pic-caption2 {
  left: -150px;
}

/* line 883, scss/style.scss */
#brands-content {
  margin: auto;
  display: table;
}
